body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(3, 87, 0, 0.75);
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Matrix", sans-serif;
  text-shadow: rgba(125, 225, 125, 0.75) 1px 0px;
}

.navbar a:hover {
  background-color: #111;
}

footer {
  background-color: rgba(3, 87, 0, 0.75);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

footer a {
  font-family: "Matrix", sans-serif;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

footer i {
  font-size: 20px;
  margin-bottom: 5px;
}

.tab-content {
  display: none;
  padding: 20px;
  font-family: "Matrix", sans-serif;
  color: rgba(125, 225, 125, 0.75);
  text-shadow: 0 0 5px rgba(125, 225, 125, 0.5), 0 0 15px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.tab-content:target {
  display: block;
}


.text-over-picture-container {
  position: absolute;
  text-align: center;
  width: min-content;
  right: 50px;
  top: 50px;
}

.text-over-picture-container .picture-text.centered {
  position: absolute;
  
}

.text-over-picture-container .picture-text.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-over-picture-container.hover-reveal-text .picture-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.text-over-picture-container.hover-reveal-text:hover .picture-text {
  opacity: 1;
}



.slider-container {
  width: 300px;
  margin: 20px;
}

.slider {
  width: 100%;
}

.slider-value {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
